---
layout: layout.liquid
eleventyExcludeFromCollections: true
---

{% if collections.articles %}
{%- for article in collections.articles %}
<div class="columns is-mobile is-centered tir">
    <div class="column is-narrow ml-4 is-hidden-mobile">
        <div>
            <figure class="media-left">
                <p class="image is-128x128">
                    <img src="{{ article.url | concat: article.data.featureimg }}">
                </p>
            </figure>
        </div>
    </div>
    <div class="column is-8 is-narrow">
        <div>
            <div class="content">
                <a class="title is-2 is-5-mobile has-text-left"
                   href="{{article.url}}">{{ article.data.title }}<br><span class="title is-4 is-6-mobile">{{ article.data.subtitle }}</span></a>
                <p class="is-size-8">{{ article.data.pubdate }} - {{ article.data.author }}</p>
            </div>

        </div>
    </div>
</div>
<hr>
{% endfor %}
{% else %}
<div class="columns is-mobile is-centered">
    <div class="column is-full">
        <h2>No Articles Found</h2>
    </div>
</div>
{% endif%}
